# R-related files
.Rproj.user/
.Rproj.user
*.Rproj
*.RData
*.Rhistory
.Rprofile

# packrat
packrat/
packrat/lib*/
packrat/src/
# JetBrains files
.idea/
# virtualenv folder
virtualenv/
# folder for temp data
data/
